<!DOCTYPE	html> 
<html	lang="en"> 
<head>				
	<meta	charset="utf-8">				
	<title>{{	name	}}'s	Watchlist</title> 
	<link	rel="icon"	href="{{	url_for('static',	filename='favourite_iocn.ic0')	}}"> 
	<link	rel="stylesheet"	href="{{	url_for('static',	filename='style.css')	}}"	type="text/css"> 
</head> <body>				
	<h2>
		<img	alt="Avatar"	src="{{url_for('static',filename='images/avatar.png')}}">
		{{	name	}}'s	Watchlist
	</h2>								
	<p>{{	movies|length	}}	Titles</p>			
	<ul class="movie-list">								
		{%	for	movie	in	movies	%}						
		<li>{{	movie.title	}}	-	{{	movie.year	}}</li>							
		{%	endfor	%}	
	</ul>				
	<img alt="Walking Totoro" src="{{url_for('static',	filename='images/totoro.gif')}}">
	<footer>								
		<small>&copy;	2020	<a	href="http://helloflask.com/tutori al">HelloFlask</a></small>				
		</footer> 
</body> 
</html>
